/*page preloader*/

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.99);
    z-index: 13000;
    height: 100%;
}

.no-js .preloader, .lt-ie9 .preloader, .lt-ie10 .preloader {
    display: none;
}

.preloader_image {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    background: url(../img/preloader.svg) no-repeat 50% 50% transparent;
    margin: -50px 0 0 -50px;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .preloader_image {
        background: url(../img/preloader.gif) no-repeat 50% 50% transparent;
    }
}

body {
    font-family: "Source Sans Pro";
    color: #fff;
    font-stretch: semi-condensed;
}

a {
    color: inherit;
    font-family: "Source Sans Pro";
    font-stretch: semi-condensed;
}

a:hover, a:active, a:focus {
    outline: 0;
    color: #e3ba65;
    text-decoration: none;
}

p {
    padding-top: 20px;
}

h1, h2, h3, h4, h5 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.section-spacing {
    margin-top: 80px;
}

.nav-bg-dark {
    background-color: #4c5053;
    z-index: 1030;
    -webkit-box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.6);
}

.dropdown-menu {
    border: none;
}

.crypto-nav {
    min-height: 80px;
    width: 100%;
    color: white;
}

.crypto-nav a {
    color: white;
    font-weight: 600;
}

.crypto-nav a:hover, a:active, a:focus {
    color: #e3ba65;
    outline: 0;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: .5rem 1.5rem;
}

.navbar-orange-rounded {
    background: #e3ba64;
    border-radius: 20px;
}

.navbar-toggler {
    color: white;
}

.pad0 {
    padding: 0px;
}

.pad50 {
    padding: 50px;
}

.ptop30 {
    padding-top: 30px;
}

.page-header-dark {
    background-color: #303945;
    height: 150px;
    color: white;
    text-align: center;
    padding: 25px;
}

.page-header-font-yellow {
    font-size: 3em;
    color: #1783ab;
    font-weight: 500;
}

.h500 {
    height: 500px;
}

.of-hidden {
    overflow: hidden;
}

.slider-yellow-font {
    font-size: 2em;
    color: #e3ba64;
}

.slider-white-font {
    font-size: 1.5em;
    color: #fff;
}

.carousel-item {
    min-height: 500px;
    margin-bottom: 10vh;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.caraousel-rounded-btn {
    width: 200px;
    height: 50px;
    border-radius: 25px;
    margin-top: 20px;
}

.caraousel-rounded-btn:hover {
    box-shadow: 0px 5px 10px rgba(227, 186, 103, 0.4);
    background-color: #e3b967;
}

.bg-orange-yellow {
    background-color: #e3ba64;
    color: white;
}

.bg-white {
    background-color: #fff;
    color: #333333;
}

.section-heading-strike {
    height: 2px;
    width: 100px;
    background: #e4ba64;
    margin-top: -t30px;
    margin-bottom: 15px;
}

.section-yellow-btn {}

.w-75 {
    width: 75%
}

.h-100 {
    height: 100%;
}

.text-center {
    text-align: center;
}

.mtop10 {
    margin-top: 10px;
}

.m-align-center {
    margin: 0 auto;
}

.margin-center {
    margin-left: auto;
    margin-right: auto;
}

.fl-right {
    float: right;
}

.fl-left {
    float: left;
}

.imgcircle250 {
    border-radius: 50% !important;
    width: 250px;
}

.exchange input[type="text"] {
    border: 1px solid #a1a1a1;
    border-radius: 5px;
    height: 55px;
}

.exchange select {
    border: 1px solid #a1a1a1;
    border-radius: 5px;
    height: 55px;
    background-color: white;
}

.exchange select {
    /*for firefox*/
    -moz-appearance: none;
    /*for chrome*/
    -webkit-appearance: none;
}

/*for IE10*/

.exchange select::-ms-expand {
    display: none;
}

select:-moz-focusring {}

.retweet {
    padding: 15px;
    font-size: 20px;
    color: #e4ba64;
}

.exchangefa {
    font-size: 30px;
}

.exchange-rate-font {
    font-family: 'Raleway', sans-serif;
    font-size: 20 px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
}

.exchange-img {
    width: 150px;
}

.exchange-input {
    height: 75px;
    border: 1px solid #1783ab;;
    border-radius: 40px;
}

.exchange-border-left {
    border-left: 1px solid #1783ab;;
}

.exchange-amount {
    color: #1783ab;;
    font-size: 60pt;
    font-weight: 600;
}

.exchange-next {
    width: 150px;
    border-radius: 25px;
    background: #1783ab;;
    border: none;
    height: 50px;
}

.table-responsive {
    padding: 5%;
    overflow-x: scroll;
}

.table_template {
    width: 100%;
    text-align: center
}

.table_template thead {
    background: #e4ba64;
    color: white;
    height: 60px;
}

.table_template thead tr {
    padding: 20px;
    min-height: 60px;
}

.success-bg {
    background: rgba(0, 201, 174, 1);
    background: -moz-linear-gradient(left, rgba(0, 201, 174, 1) 0%, rgba(33, 180, 226, 1) 51%, rgba(113, 206, 239, 1) 87%, rgba(183, 222, 237, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0, 201, 174, 1)), color-stop(51%, rgba(33, 180, 226, 1)), color-stop(87%, rgba(113, 206, 239, 1)), color-stop(100%, rgba(183, 222, 237, 1)));
    background: -webkit-linear-gradient(left, rgba(0, 201, 174, 1) 0%, rgba(33, 180, 226, 1) 51%, rgba(113, 206, 239, 1) 87%, rgba(183, 222, 237, 1) 100%);
    background: -o-linear-gradient(left, rgba(0, 201, 174, 1) 0%, rgba(33, 180, 226, 1) 51%, rgba(113, 206, 239, 1) 87%, rgba(183, 222, 237, 1) 100%);
    background: -ms-linear-gradient(left, rgba(0, 201, 174, 1) 0%, rgba(33, 180, 226, 1) 51%, rgba(113, 206, 239, 1) 87%, rgba(183, 222, 237, 1) 100%);
    background: linear-gradient(to right, rgba(0, 201, 174, 1) 0%, rgba(33, 180, 226, 1) 51%, rgba(113, 206, 239, 1) 87%, rgba(183, 222, 237, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c9ae', endColorstr='#b7deed', GradientType=1);
}

.bg-dark-header {
    font-size: 50pt;
    padding: 50px;
    color: white;
}

.wallets {
    background-color: #eeeeee;
    padding: 10px;
}

.wallets:hover {
    -webkit-box-shadow: 0px 2px 5px 1px rgba(51, 51, 51, 1);
    -moz-box-shadow: 0px 2px 5px 1px rgba(51, 51, 51, 1);
    box-shadow: 0px 2px 5px 1px rgba(51, 51, 51, 1);
}

.login-input {
    height: 60px;
    border: 1px solid #e4ba64;
    border-radius: 40px;
}

.signup-input {
    height: 45px;
    border: 1px solid #e4ba64;
    border-radius: 40px;
}

.img-100 {
    width: 100px;
}

.dont-break-out {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.bg-grey {
    background-color: lightgray;
}

.full-page {
    width: 100%;
    height: 100vh;
}

.success-center {
    position: absolute;
    top: 20%;
    color: white;
}

.success-href {
    color: white;
    font-weight: 600;
    font-size: 16pt;
}

.welcome-header {
    color: #bf3654;
    font-size: 24pt;
    font-weight: 600;
    text-transform: capitalize;
}

.panel-body {
    padding: 0px;
}

.crypto-box {
    min-height: 80px;
    text-align: center;
    font-size: 14pt;
    font-weight: 600;
    padding: 10px;
    color: white;
}

.bg1 {
    background-color: #bf3654;
    color: white;
}

.bg2 {
    background-color: #E65100;
    color: white;
}

.bg3 {
    background-color: #B71C1C;
    color: white;
}

.bg4 {
    background-color: #7B1FA2;
}

.bg5 {
    background-color: #1565C0;
}

.bg6 {
    background-color: #00838F;
}

.bg7 {
    background-color: #2E7D32;
}

.bg8 {
    background-color: #558B2F;
}

.bg-white {
    background: white;
    color: dimgrey;
}

.white-font {
    color: white;
}

.dark-font {
    font-size: 14px;
    line-height: 22px;
    color: rgb(117, 117, 117);
    font-family: "Font Awesome";
}

.crypto-box:hover {
    position: relative;
    -webkit-box-shadow: 0px 1px 1px 1px rgba(255, 161, 79, 1);
    -moz-box-shadow: 0px 1px 1px 1px rgba(255, 161, 79, 1);
    box-shadow: 0px 1px 1px 1px rgba(255, 161, 79, 1);
    transition: all 0.9s ease-in-out s;
    top: -5px;
}

.chart-font-green {
    color: #2E7D32;
    font-weight: 600;
}

.chart-side-table ul li {
    list-style: none;
    border-bottom: 1px solid #8f8f8f;
    padding: 10px;
    padding-left: 25px;
}

.chart-side-table ul li:hover {
    background: #e3b967;
    color: white;
}

.chart-side-table ul {
    padding-left: 0px;
}

.cs-reverse {
    background: linear-gradient(90deg, #fab915, #bf3654)
}

.footer {
    text-align: center;
}

.footer a {
    color: rgb(190, 193, 196);
}

.footer a:hover, a:focus, a:active {
    color: #e3ba65;
}

.footer-heading-strike {
    height: 2px;
    width: 50px;
    background: #e4ba64;
    margin-top: 20px;
}

.fa-yellow {
    color: #e4ba64;
}

.logo {
    font-size: 16pt;
    font-weight: 600;
    color: white;
}

.footer input {
    background: #303945;
    border: 1px solid white;
    border-radius: 5px;
    height: 50px;
    width: 100%;
    color: white;
}

.footer ::placeholder {
    font-size: 11px;
    font-weight: 600;
    color: white;
    opacity: 1;
}

.footer :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white;
}

.footer ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: white;
}

.footer ul {
    padding-left: 0px;
}

.footer ul li {
    list-style: none;
}

.copyright {
    background: white;
    color: #333333;
    text-align: center;
    height: 80px;
}